Steps to run the code 
1. Install External Libaries
   - flask
   - mysql-connector-python
   - werkzeug
   - itsdangerous
2. Database management 
   - Change mysql database credientials to your own.
3. Start APP
   -Navigate to the directory where your app.py is located
   -Run the code

Improvements:
- remove leading and trailing spaces from user input
- forgot password
- eyes image to see your password
