<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{url_for("static", filename = "css/forgot_password.css")}}'>
    <title>Forgot Password</title>
    
</head>
<body>
    <div class="container">
        <h1>Forgot password</h1>
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action = "/forgot_password" method = "POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <p>We’ll send a reset password link to this email if it matches an existing account Check spam if you can't finmessage on inbox.</p>
            <button type="submit">Next</button>
            <br></br>
            <a href="/login">Back</a>
        </form>
    </div>
</body>
</html>
