<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href='{{url_for("static", filename = "css/reset_password.css")}}'>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Choose a new password</h2>
            <p>To secure your account, choose a strong password you haven't used before and is at least 8 characters long.</p>
            <form action="/reset_password/{{ token }}" method="POST">
                <div class="form-group">
                    <label for="new-password">New password</label>
                    <input type="password" id="new-password" name="new-password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm new password</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <div class="form-group checkbox">
                    <input type="checkbox" id="require-devices" name="require-devices">
                    <label for="require-devices">I agree to the terms and conditions</label>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
