<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{url_for("static", filename = "css/forgot_password.css")}}'>
    <title>Forgot Password</title>
    
</head>
<body>
    <div class="container">
        <h1>Forgot password</h1>
        <form action = "/forgot_password" method = "POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <p>We’ll send a verification code to this email or phone number if it matches an existing account.</p>
            <button type="submit">Next</button>
            <br></br>
            <a href="/login">Back</a>
        </form>
    </div>
</body>
</html>
